@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*----------------------------------Background--------------------------------------*/
.bg-01{
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 166);
    left: 0px;
    top: 0px;
}   
.bg-02{
    width: 1244px;
    height: 545px;
    left: 153px;
    top: 77px;
    background: #72c3b8;
}
.bg-03{
    width: 344px;
    height: 545px;
    left: 1053px;
    top: 77px;
    background: #4d5fbb;
}
.pic{
    
    left: 1193px;
    top: 97px;
}
.abs{
    position: absolute;
}
/*--------------------Fonts mm.-------------------------*/
.comfa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
.comfa-large {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: solid;
  }


/*--------------------Boxes mm.-------------------------*/
.textbox{
    width: 400px;
    height: 395px;
    left: 203px;
    top: 137px;
}
.miniboxsize{
    width: 395px;
    height: 45px;
}
.miniboxloc-01{
    left: 0px;
    top: 0px;
}
.miniboxloc-02{
    left: 0px;
    top: 60px;
}
.miniboxloc-03{
    left: 0px;
    top: 120px;
}
.miniboxloc-04{
    left: 0px;
    top: 180px;
}
.miniboxloc-05{
    left: 0px;
    top: 240px;
}
.miniboxloc-06{
    left: 0px;
    top: 300px;
}
.inminiboxloc-01{
    left: 0px;
    top: 0px;
    background-color: rgb(89, 89, 115);
}
.inminiboxloc-02{
    left: 0px;
    top: 20px;
    background-color: rgb(128, 128, 166);
}
.inminiboxloc-02:hover{
    left: 0px;
    top: 20px;
    background-color: #4d5fbb;
}
.inminiboxloc-03{
    left: 0px;
    top: 20px;
    background-color: rgb(128, 128, 166);
}
.dropdown-contetinmini{
    display: none;
    position: absolute;
    background-color: rgb(92, 92, 119);;
    padding: 12px 16px;
    z-index: 1;

}
.inminiboxloc-03:hover .dropdown-contetinmini{
    display: block;
}
.inminiboxloc-03:hover{
    left: 0px;
    top: 20px;
    background-color: #b144c2;
}
.miniminibox-01{
    width: 390px;
    height: 20px;
}
.miniminibox-02{
    width: 383px;
    height: 20px;
}
.extratextbox{
    width: 400px;
    height: 395px;
    left: 631px;
    top: 137px;
}
.Rubrik{
    left: 0px;
    top: 0px;
}
.brodtext{
    left: 0px;
    top: 60px;
}
/*
.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}
.location-2{
    border: #c3bb72;
    border-width: 3px;
    border-style: solid;
}
